{% extends "manage_cash/base.html" %}

{% block title %}Форма транзакции{% endblock %}

{% block content %}
    <div class="container-fluid p-4">
        <h2>
            {% if form.instance.pk %}
                Редактировать запись: {{ form.instance.owner|default:"Без названия" }}
            {% else %}
                Создать запись
            {% endif %}
        </h2>
        <div class="row">
            <div class="col-md-3 mb-4">
                <form method="post" id="transactionForm" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Выводим ошибки формы -->
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <strong>Ошибки формы:</strong>
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ field.label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.name == "status" %}
                                <small>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#addStatusModal">
                                        ➕ Не нашли нужный статус? Добавить
                                    </a>
                                </small>
                            {% elif field.name == "type" %}
                                <small>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#addTypeModal">
                                        ➕ Не нашли нужный тип транзакции? Добавить
                                    </a>
                                </small>
                            {% elif field.name == "category" %}
                                <small>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                                        ➕ Не нашли нужную категорию? Добавить
                                    </a>
                                </small>
                            {% elif field.name == "subcategory" %}
                                <small>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#addSubcategoryModal">
                                        ➕ Не нашли нужную подкатегорию? Добавить
                                    </a>
                                </small>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-danger">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}