<!-- Подвал -->
<footer class="text-center text-lg-start pt-4 pb-3" style="background-color: #212539; border-top: 4px solid #755D9A; color: #ccc;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <small>&copy; 2025 <strong>ДДС</strong>. Веб-сервис для управления движением денежных средств (ДДС) 2025</small>
                </div>
                <div class="col-md-6 text-center text-md-end mt-2 mt-md-0">
                    <a href="https://github.com/StreetShiffter/Firs_IT_Company-Manage_cash/blob/develop/README.md" class="me-3">Помощь</a>
                    <a href="https://www.postman.com/downloads">API</a>
                </div>
            </div>
        </div>
    </footer>